$background: #ffffff;

form {
	.form-container {
		background-color: rgba(255, 255, 255, 0.2);
		padding: space(5) space(12);
		border-radius: $border-radius;
		width: 100%;
		max-width: 550px;
	}

	.form-group {
		margin-bottom: space(2);
		width: 100%;

		label {
			font-size: $base-font-size * 0.9px;
			letter-spacing: 0.1rem;
			font-weight: 900;
			transition: $transition;
			color: $color-text-muted;
			display: block;
			text-transform: uppercase;
			text-align: left;
		}

		%input-base {
			outline: none;
			color: $color-text-dark;
			margin: 0 auto;
			padding: space(1) space(1.5);
			border-radius: 0.2rem;
			background-color: $background;
			border: none;
			width: 100%;
			display: block;
			transition: $transition;
			border: 3px solid $color-text-muted;
			width: 100%;

			&:focus {
				border: 3px solid $color-contrast;
			}

			&.is-invalid {
				border-color: $color-red;
			}
		}

		input {
			@extend %input-base;
		}

		select {
			@extend %input-base;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: right 0.75rem center;
			background-size: 16px 12px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		.input-error {
			font-size: 0.9rem;
			color: $color-red;
			line-height: 1px;
		}
	}
}
