// Keyframes
// ==================
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes slideOut {
	to {
		opacity: 0;
		transform: translateY(5px);
	}
}

.fade {
	opacity: 0 !important;
	transform: translateY(30px) !important;
}
.fade.in {
	opacity: 1 !important;
	transform: translateY(0px) !important;
	transition: 0.7s cubic-bezier(0.5, 0, 0, 1);
}
@for $i from 1 through 3 {
	.fade-#{$i} {
		transition-delay: 0.2s * $i !important;
	}
}
@media (prefers-reduced-motion: reduce) {
	.fade {
		transition: none !important;
	}
}
